
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

.footer-container {
    /* background-color: #2a75bb; */
    background-color: rgb(249,249,249);
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 30px;
    font-size: 1.1rem;
}

.footer-content ul {
    list-style-type: none;
}

.list-header {
    font-size: 1.3rem;
    color: #c7a008;
}

.bgfooter .img{
    object-fit: cover;
    width: 10px;

}

