
/*.sidebar-link {
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
} 



.sidebar-link:hover{
    color: #ffcb05;
}

.sidebar-link #active {
    color: #c7a008;
}

.sidebar-list {

}

.sidebar-icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.sidebar-title {
    flex: 70%;
}

.dropdown-link {
    font-size: 1.2rem;
} */

.sidebar-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    list-style: none;
    height: 60px;
    text-decoration: none;

}

.sidebar-link:hover {
    color: #ffcb05;
}

.sidebar-label {
    /* margin-right: 100px; */
}

.sidebar-icon {
    margin-top: 8.7px;
}

.dropdown-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 74px;
    list-style: none;
    text-decoration: none;
    background-color: white;
    color: #3c5aa6;
    border: 10px solid #3c5aa6;
    border-radius: 15px;
    font-size: 1.2rem;
    /* word-break: break-all; */

}

.checkbox {
    height: 16px;
    width: 16px;
}


.dropdown-arrows {
    display: flex;
    justify-content: flex-end;
}

.link {
    color: white;
}